<!-- _form.html.erb -->

<%= form_for :menu, url: menus_path do |f| %>
  <% if @menu.errors.any? %>
    <div id="error">
      <h2>
        <%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:
      </h2>
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= collection_check_boxes(:menu, :recipe_ids, @recipes, :id, :title) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
