<!-- _form.html.erb -->

<%= form_for :recipe, url: recipes_path do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :ingredient %>
    <%= f.text_field :ingredient %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
