<!-- index.html.erb -->
<h1>All Recipes</h1>
<p>Filter: <%= link_to 'Category', recipes_path(:sort_params => 'category') %>, <%= link_to 'Type', recipes_path(:sort_params => 'recipe_type') %>, <%= link_to 'Chef', recipes_path(:sort_params => 'chef') %></p>
<table>
  <tr>
    <th>
      Recipe
    </th>
    <th>
      Ingredients
    </th>
    <th>
      Manage
    </th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <p>
          <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br />
          Category: <%= recipe.category %><br />
          Type: <%= recipe.recipe_type %><br />
          Chef: <%= recipe.chef %>
        </p>
      </td>
      <td>
        <p>
          <ul>
            <% recipe.ingredients.each do |i| %>
              <li><%= i.title %></li>
            <% end %>
          </ul>
        </p>
      </td>
      <td>
        <p>
          <%= link_to 'Edit', edit_recipe_path(recipe) %> | <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Click OK to delete this recipe'} %>
        </p>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add Recipe', new_recipe_path %>
