<!-- show.html.erb -->
<p>
  <h3>RECIPE:</h3>
  <strong><%= @recipe.title %></strong><br />
  <%= @recipe.category %> | <%= @recipe.recipe_type %> | <%= @recipe.chef %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @recipe.ingredients.each do |i| %>
      <li><%= i.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> | <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Click OK to delete this recipe'} %>
</p>
